@import './colors';
@import './animations';


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    color: $white;
    background-color: $dark;
}

h1.company-name {
    margin-bottom: 0.5em;
    font-size: 5rem;
    font-family: 'Cinzel', serif;
    color: $gold;

}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

// header

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__text {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        padding: 2em;

        p {
            font-weight: 200;
        }
    }

    &__img {
        grid-row: 1/2;
        grid-column: 1/3;
        width: 100%;
        height: 100%;
        background-image: url('../img/header/header-img-smal.jpg');
        background-position: center;
        background-size: cover;
        filter: sepia();
    }

    &__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
    }
    &__arrow {
        display: none;
    }

    &__bg-icon-one,
    &__bg-icon-two {
        position: absolute;
        opacity: 0.05;
        z-index: -5;
    }

    &__bg-icon-one {
        bottom: 2em;
        right: -3em;
        width: 50%;
        animation: rotate-right 55s infinite linear;
    }
    &__bg-icon-two {
        display: none;
    } 
}

.hamburger {
    position: absolute;
    top: 3em;
    left: 1em;
    z-index: 100;

    &-inner,
    &-inner::before, 
    &-inner::after {
        background-color: $white;
        z-index: 500;
    }
}

.nav {

    &-mobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: $white;
        transform: translateY(-100%);
        transition: transform .3s;
        z-index: 10;

        &--active {
            transform: translateY(0);
        }

        
    }

    &-desktop {
        display: none;
    }

    &__link {
        position: relative;
        display: inline-block;
        margin: 0.5em;
        padding: 0.5em;
        color: $dark;
        text-transform: uppercase;
        text-decoration: none;
        transition: color .3s;

        &:hover {
            color: $gold;
        }

        
    }
}




@import './small';
@import './medium';
@import './large';